--------//-----------//--------//MASTER VARIABLES//--------//-----------//--------//-----------//


--------//-----------//--------//.env.dev//--------//-----------//--------//-----------//
##CREATE DOCKER CONTAINER
CONTAINER_NAME_DEVELOPMENT= database_dev
POSTGRES_USER_DEVELOPMENT=admin
POSTGRES_PASSWORD_DEVELOPMENT=admin
POSTGRES_DB_DEVELOPMENT=prisma_db_dev

##CONNECT PRISMA WITH CONTAINER
DATABASE_URL="postgresql://${POSTGRES_USER_DEVELOPMENT}:${POSTGRES_PASSWORD_DEVELOPMENT}@localhost:5432/${POSTGRES_DB_DEVELOPMENT}?schema=public"

--------//-----------//--------//.env.test//--------//-----------//--------//-----------//
##CREATE DOCKER CONTAINER
CONTAINER_NAME_TEST= database_test
POSTGRES_USER_TEST=admin
POSTGRES_PASSWORD_TEST=admin
POSTGRES_DB_TEST=prisma_db_tests

##CONNECT PRISMA WITH CONTAINER
DATABASE_URL="postgresql://${POSTGRES_USER_TEST}:${POSTGRES_PASSWORD_TEST}@localhost:9000/${POSTGRES_DB_TEST}?schema=public"

--------//-----------//--------//-----------//--------//-----------//--------//-----------//